body{
	background: url("../img/rollingfields.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.bg-light {
	background-color: rgba(255, 255, 255, .5)!important;
}

#jumbo {
	margin-top: 65px;
	margin-left: 0px;
	height: 100px;
}

.jumbotron {
	background-color: rgba(50,50,50,0);
}

.bbox {
	border-radius: 25px;
	margin-top: 160px;
	height: 200px;
	text-align: center;
}

.bbox img{
	margin-top: 60px;
	width: 80px;
}

#monitor{
	background-color: rgba(103, 159, 198,.5);
}

#recs{
	background-color: rgba(36,171,179, .5);	
	background-color: rgba(110,138,136,.5);
}

#supply-chain{
	background-color: rgba(184,126,12, .5);
}

#my-farm{
	background-color: rgba(150,150,150,.5);
}





#monitor:hover{
	background-color: rgba(103, 159, 198,.8);
}

#recs:hover{
	background-color: rgba(36,171,179, .8);	
}

#supply-chain:hover{
	background-color: rgba(184,126,12, .8);
}

#my-farm:hover{
	background-color: rgba(110,138,136,.8);
}