body{
	background-color: rgba(255,209,23,1);
	
}

.img-box{
	height: 250px;
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;	
}


.txt-box{
	height: 325px;
	background-color: #f2f2f2;

    padding-top: 15px;
    padding-left: 15px;
}


.img-box img {
   object-fit: cover;
   width: inherit;
   height: auto;
}

.smol {
	padding-top: 20px;
	padding-bottom: 20px;
}

.bg-light {
	background-color: rgba(255, 255, 255, .5)!important;
}

#map {
	height: 420px;
	width: 420px;
}

#map-row{
	margin-top: 50px;
}

#banner{
	width: inherit;
	margin-top: 0;
	background: linear-gradient(to right, lightblue ,gray);
	text-align: left;
	height: 50px;
}

#banner p{
	margin-left: 50px;
	font-size: 24pt;
	color: rgb(100,105,103);
	letter-spacing: 3px;
}

#banner img{
	width: 40px;
	height: 40px;
}

.arrow_box {
	position: relative;
	background: #f5f5f5;
	border: 4px solid #f5f5f5;
	border-radius: 25px;
	height: 350px;
	width: 350px;
	text-align: center;
	margin-left: 40px;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	/* border-color: rgba(245, 245, 245, 0);*/
	border-right-color: #f5f5f5;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(173, 173, 173, 0);
	border-right-color: #f5f5f5;
	border-width: 36px;
	margin-top: -36px;
}

#arrow-box{
	margin-top: 20px;
}

.item {
	text-align: left;
	margin-left: 15px;
}