#disappear{
	display: none;
}

#banner{
	width: inherit;
	background: linear-gradient(to right, lightblue , yellow);
	text-align: left;
	height: 50px;
}

#banner p{
	margin-left: 50px;
	font-size: 24pt;
	color: rgb(100,105,103);
	letter-spacing: 3px;
}

body{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}


.top{
	margin-top: 50px;
}

.img-box{
	height: 250px;
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden	
}

.txt-box{
	height: 250px;
	background-color: gray;
}


.img-box img {
   object-fit: cover;
   width: inherit;
   height: auto;
}